.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 50px;
  //flex-grow: 1;
}

.panel-container {
  width: 330px;
  height: 350px;
  margin: 20px 0;
  //flex-basis: 350px;
  flex-shrink: 0;
}

.panel-container:hover {
  cursor: pointer;
}

.panel-container-empty {
  max-height: 0px;
  width: 330px;
  flex-shrink: 0;
}
