.page-toolbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.pg-toolbar-text {
  display: flex;
  align-items: center;
  font-size: smaller;
}

.left {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.separator {
  height: 15px;
  opacity: .5;
  border-left: 1px solid lightgrey;
  margin: 0 15px;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
