<div class="toolbar">
  <div class="left">
    <img src="../../assets/img/logo.png" alt="wtf" class="logo">
    <div class="btn-tab" routerLinkActive="active">
      <a routerLink="/ambassadors">
        <span class="btn-tab-text">Ambassadors</span>
      </a>
    </div>

    <a class="btn-tab">
      <span class="btn-tab-text">Campaigns</span>
    </a>
    <a class="btn-tab">
      <span class="btn-tab-text">Payments</span>
    </a>
    <a class="btn-tab">
      <span class="btn-tab-text">Support</span>
    </a>
    <a class="btn-tab">
      <span class="btn-tab-text">Messages</span>
    </a>
    <a class="btn-tab">
      <span class="btn-tab-text">More</span>
    </a>
  </div>
  <div class="right">
    <div class="search">
      <input class="search-input" placeholder="Search" type="text">
    </div>
    <div class="separator"></div>
    <div class="notif-area">
      <a id="notif" href="#notif">
        <i class="material-icons md-18">public</i>
      </a>
      <div class="user">
        <a id="user" href="#user">
          <i class="material-icons md-36">person_outline</i>
        </a>
        <a id="user-arrow" href="#user-arrow">
          <i class="material-icons md-18">keyboard_arrow_down</i>
        </a>
      </div>
    </div>
  </div>
</div>

