<div class="navbar">
  <div class="top">
    <p class="nav-text">Filter Results</p>
    <p class="nav-upper">WHAT AGE RANGE ARE YOU SEEKING?</p>
    <div class="slider">
      <p>18</p>
      <input type="range"  min="18" max="70" value="42" step="5">
      <p>70</p>
      <div class="separator"></div>
      <p>24 - 31</p>
    </div>
    <p class="nav-upper">WHAT GENDER ARE YOU SEEKING</p>
    <div class="select-container">
      <app-select [(gender)]="selectedGender" [genders]="genderOptions"></app-select>
    </div>
    <p class="nav-upper">WHAT INTEREST ARE YOU SEEKING</p>
    <div class="search">
      <input class="search-input" placeholder="e.g Fashion or Style" type="text">
    </div>
    <div class="nav-options">
      <button class="btn-option">
        <span class="">FASHION</span>
      </button>
      <button class="btn-option">
        <span>TRAVEL</span>
      </button>
      <button class="btn-option">
        <span>GLAMOUR</span>
      </button>
    </div>
    <button class="btn-submit" type="submit">SEARCH</button>
  </div>
  <div class="bottom">
    <p class="nav-footer-upper">YOUR SHORTLIST</p>
    <div class="nav-shortlist-container">
      <div *ngFor="let item of shortList" class="shortlist-item-container">
        <app-shortlist-item [shortlistItem]="item"></app-shortlist-item>
      </div>
    </div>
    <div class="nav-shortlist-footer">
      <div class="nav-total">
        <div class="nav-footer-upper">CURRENT TOTAL:</div>
        <div class="nav-price-total">{{ total }} USD</div>
      </div>
      <button class="nav-proceed" (click)="onProceed()">
        <span class="text">Proceed</span>
        <i class="material-icons md-18">keyboard_arrow_right</i>
      </button>
    </div>
  </div>
</div>


