.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 65%;
  padding: 30px;
  border-bottom: 1px solid #d3d3d3;
  flex-shrink: 0;
}

.nav-text {
  padding-bottom: 10px;
}

.nav-upper {
  font-size: x-small;
  padding: 10px 0;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
}

.separator {
  min-width: 1px;
  min-height: 15px;
  max-height: 15px;
  opacity: 0.5;
  border-left: 1px solid #d3d3d3;
}

.select-container {
  flex-basis: 100%;
  position: relative;
  display: inline-block;
}

.search-input {
  width: 270px;
  padding: 5px 10px;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  opacity: 0.5;
  background-image: url('../../../assets/img/ic_search_black_18dp_1x.png');
  background-repeat: no-repeat;
  background-position: 240px 5px;

  &:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
  }
}

.nav-options {
  display: flex;
  align-items: center;
  padding: 10px 0 20px 0;
}

.btn-option {
  outline: none;
  color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 5px;
  margin-right: 8px;
  font-size: x-small;
  background-color: #d3d3d3;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    border-color: #708090;
    background-color: #708090;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  }
}

.btn-submit {
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  background-color: #000000;
  opacity: 0.8;

  &:hover:not(.clicked) {
    cursor: pointer;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-grow: 1;
}

.nav-shortlist-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.nav-shortlist-footer {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d3d3d3;
}

.nav-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-footer-upper {
  font-size: x-small;
  padding-right: 5px;
}

.nav-price-total {
  font-size: x-small;
  font-weight: 600;
  color: #000000;
  opacity: 0.8;
}

.nav-proceed {
  display: flex;
  align-items: center;
  font-size: x-small;
  font-weight: 600;
  color: #000000;
  background: none;
  border: none;
  outline: none;
}

.nav-proceed:hover {
  cursor: pointer;
}
