.panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.panel-image {
  display: flex;
  flex-basis: 190px;
  flex-shrink: 0;
}

.panel-description {
  height: 100%;
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.panel-info-top {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.bold-small {
  font-weight: 600;
  font-size: small;
  color: #000000;
  opacity: 0.8;
}

.normal-smaller {
  font-size: x-small;
}

.ambassador-other {
  display: flex;
  align-items: center;
}

.separator {
  height: 7px;
  border-left: 1px solid #d3d3d3;
  margin: 0 5px;
}

.horizontal {
  margin: 0 30px;
  border-bottom: 1px solid #d3d3d3;
}

.panel-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.ambassador-cost {
  display: flex;
  flex-direction: column;
}

.ambassador-contact {
  display: flex;
}

.icon-social {
  width: 24px;
  height: 24px;
}
