<div class="page-toolbar">
  <div class="left">
    <p class="pg-toolbar-text">Ambassadors Search</p>
    <div class="separator"></div>
    <p class="pg-toolbar-text">134 Results</p>
  </div>
  <div class="right">
    <i class="material-icons md-18">apps</i>
    <div class="separator"></div>
    <i class="material-icons md-18">list</i>
    <div class="separator"></div>
    <div class="pg-toolbar-popular">
      <span class="text">Popular</span>
      <i class="material-icons md-18">keyboard_arrow_down</i>
    </div>
  </div>
</div>
