.page-toolbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  user-select: none;
}

.pg-toolbar-text {
  display: flex;
  align-items: center;
  font-size: smaller;
}

.pg-toolbar-popular {
  display: flex;
  align-items: center;
  font-size: smaller;

  &:hover {
    cursor: pointer;
  }
}

.left {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.separator {
  height: 15px;
  opacity: 0.5;
  border-left: 1px solid #d3d3d3;
  margin: 0 15px;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.material-icons {
  cursor: pointer;
}
