.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  overflow: hidden;
}

.toolbar-container {
  flex-basis: 70px;
  flex-shrink: 0;
}

.dashboard-container {
  flex-basis: 100%;

}
