.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-toolbar-container {
  flex-basis: 60px;
  flex-shrink: 0;
}

.body {
  flex-basis: 100%;
  display: flex;
  overflow: hidden;
}

.navbar-container {
  height: 100%;
  flex-basis: 330px;
  flex-shrink: 0;
}

.content-container {
  height: 100%;
  background-color: lightgrey;
  flex-basis: 100%;
  overflow: auto;
}

.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 50px;
}

.panel-container {
  width: 330px;
  height: 350px;
  margin: 20px 0;
  flex-shrink: 0;
}

.panel-container:hover {
  cursor: pointer;
}

.panel-container-empty {
  max-height: 0px;
  width: 330px;
  flex-shrink: 0;
}
